/* .mainmenu {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
} */

/*.card {
    border-radius: 10px;
    min-width: 300px;
    min-height: 200px;
    text-align: center;
    border: 1px solid blue;
}*/

/* .Cards {
    display: flex;
} */

.div-card {
    margin: 30px;
    background: lightcyan;
    transition: all .3s ease-in-out;
}

.div-card:hover{
    transform: scale(1.1);
}

body {
    background: lightblue;
}


.tableheader {
    border-right: 1px solid black;
    border-top-right-radius: 20px;
}

/*.card-title {
    padding-top: 25%;
}*/



.row:hover {
    background: rgba(217, 148, 235, 0.3);
}

.searchForm {

    max-width: 600px;
    
}

.form-editing-hidden {
    display: none;
}

.form-editing-visible {
    
}
/*.form-editing-visible {
    display: grid;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    grid-template-columns: 100px 200px;
}*/

/*.search-create-form {
    display: grid;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    grid-template-columns: 100px 200px;
}*/